<h2>Search Person by Email</h2>

<div class="p-field p-grid">
	<label for="searchEmail" class="p-col-fixed" style="width: 100px">Email</label>
	<div class="p-col">
		<input id="searchEmail" type="text" [(ngModel)]="searchEmail"
			pInputText>
	</div>
</div>

<div class="p-field p-grid">
	&nbsp;&nbsp;&nbsp;<button name="loginBtn" class="btn btn-primary" (click)="doSearch()">Search</button>
</div>


<div fxLayout="column" fxLayoutAlign="space-between stretch" *ngIf="userVo?.firstName != null">
	<div class="p-field p-grid">
		<label class="p-col-fixed" style="width: 100px">First Name</label>
		<div class="p-col">{{ userVo?.firstName}}</div>
	</div>
	<div class="p-field p-grid">
		<label class="p-col-fixed" style="width: 100px">Last Name</label>
		<div class="p-col">{{ userVo?.lastName}}</div>
	</div>
	<div class="p-field p-grid">
		<label class="p-col-fixed" style="width: 100px">Email</label>
		<div class="p-col">{{ userVo?.email}}</div>
	</div>
</div>
