<p>my-clubs works!</p>

<button name="signUpBtn" class="btn btn-primary" (click)="doRetrieve()">Refresh</button>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Contact Email</th>
        <th>Create Time</th>
    </tr>
    <tr *ngFor="let club of clubs">
        <td>{{club.id}}</td>
        <td>
            <span> 
                <a (click)="goModify(club.id)">    
                    {{club.clubName}} 
                </a>
            </span> 
        </td>
        <td>{{club.description}}</td>
        <td>{{club.contactEmail}}</td>
        <td>{{club.createTime}}</td>
    </tr>
</table>
