<p>file-upload works!</p>


<p-fileUpload name="demo[]" url={{uploadUrl}} accept=".pdf" (onUpload)="onUpload($event)" (multiple)=true  (maxFileSize)=1000>
  <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
  </ng-template>
</p-fileUpload>

<table>
  <tr>
    <td width="10%" valign="top">
      <div>
        <div>
          Pick a Icon and drop on the PDF file
        </div>
        <div class="example-box" cdkDrag (cdkDragEnded)="dragEnd($event)" align='left'>
          <img src="assets/images/iconSignature.png" width="80px" height="50px"/>
          Signature
        </div>
      
        <div class="example-box" cdkDrag (cdkDragEnded)="dragEnd($event)">
          <img src="assets/images/iconInitial.png" width="80px" height="50px"/>
          Initial
        </div>
      
        <div class="example-box" cdkDrag (cdkDragEnded)="dragEnd($event)">
          <img src="assets/images/iconDateSigned.png" width="80px" height="50px"/>
          Signed Date
        </div>
      </div>
      
    </td>
    <td width="90%">
        <ngx-extended-pdf-viewer 
          src='/assets/example.pdf'
          [showToolbar]="false"
          (useBrowserLocale)=true 
          (sidebarVisible)=false
          height="160vh">
          (pageChange)="onEvent('pageChange', $event)"
        </ngx-extended-pdf-viewer>
    </td>
  </tr>
</table>




<div class="card mt-3">
  <div class="card-header">List of Files Uploaded</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of files"
  >
    <li class="list-group-item">
      <a href="{{ file.name }}">{{ file.name }}</a>
    </li>
  </ul>
</div>


