<p>Update Club</p>

<p-fieldset legend="Update Club" [toggleable]="true">
	<div class="p-field p-grid">
	    <label for="clubName" class="p-col-fixed" style="width:160px">Club Name</label>
	    <div class="p-col">
	        <input id="clubName" type="text" [(ngModel)]="clubVo.clubName" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="description" class="p-col-fixed" style="width:160px">Description</label>
	    <div class="p-col">
	        <input id="description" type="text" [(ngModel)]="clubVo.description" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="updateClub()">Update Club</button>
	    <button name="startProjectBtn" class="btn btn-primary" (click)="startProject()">Start a Project</button>
	    <button name="joinClubBtn" class="btn btn-primary" (click)="joinClub()">Apply to join the club</button>
	</div>
</p-fieldset>


