Club:
{{sessionManager.currentClub.name}}

Project:
{{sessionManager.currentProject.name}}


<p-table [value]="properties">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Project Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="description">Project Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="clubName">Club Name <p-sortIcon field="name"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-property>
        <tr>
            <td>

                <a class="dropdown-item" (click)="selectProperty(property)" href="javascript:void(0);" >    
                    {{property.name}} 
                </a>
            </td>
            <td>{{property.description}}</td>
            <td>{{property.clubName}}</td>
        </tr>
    </ng-template>
</p-table>

<a [routerLink]="['/member/propertycreate']"> 
    Create
</a>




