<p>My Projects</p>


<button name="signUpBtn" class="btn btn-primary" (click)="doRetrieve()">Refresh</button>

Projects under Club of {{sessionManager.currentClub.name}}


<p-table [value]="projects">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Project Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="description">Project Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="clubName">Club Name <p-sortIcon field="name"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr>
            <td>

                <a class="dropdown-item" (click)="selectProject(project)" href="javascript:void(0);" >    
                    {{project.name}} 
                </a>
            </td>
            <td>{{project.description}}</td>
            <td>{{project.clubName}}</td>
        </tr>
    </ng-template>
</p-table>

<a [routerLink]="['/member/projectcreate']"> 
    Create
</a>


