<p-fieldset legend="Start a new Project in {{sessionManager.currentClub.name}}" [toggleable]="true">
	<div class="p-field p-grid">
	    <label for="clubName" class="p-col-fixed" style="width:160px">Project Name</label>
	    <div class="p-col">
	        <input id="name" type="text" [(ngModel)]="projectVo.name" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="description" class="p-col-fixed" style="width:160px">Description</label>
	    <div class="p-col">
	        <input id="description" type="text" [(ngModel)]="projectVo.description" pInputText required/> 
	    </div>
	</div>

    <div class="p-field p-grid">
	    <label for="address" class="p-col-fixed" style="width:160px">Address</label>
	    <div class="p-col">
	        <input id="contactEmail" type="text" [(ngModel)]="projectVo.contactEmail" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="startProject()">Start</button>
	</div>
</p-fieldset>


