<p-fieldset legend="Change Email" [toggleable]="true">
	<div class="p-field p-grid">
		When you change email, You password will be reset as well. You will be logout. 
	</div>
		
	<div class="p-field p-grid">
	    <label for="email" class="p-col-fixed" style="width:160px">Email</label>
	    <div class="p-col">
	        <input type="text" [(ngModel)]="userVo.email" pInputText required/> 
	    </div>
	</div>
	
	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="doChangeEmail()">Change Email</button>
	</div>
</p-fieldset>

<p-fieldset legend="Change Profile" [toggleable]="true">
	<div class="p-field p-grid">
	    <label for="firstName" class="p-col-fixed" style="width:160px">First Name</label>
	    <div class="p-col">
	       <input id="firstName" type="text" [(ngModel)]="userVo.firstName"  pInputText required/>
	    </div>
	</div>
	
	<div class="p-field p-grid">
	    <label for="lastName" class="p-col-fixed" style="width:160px">Last Name</label>
	    <div class="p-col">
	        <input id="lastName" type="text" [(ngModel)]="userVo.lastName" pInputText required/>
	    </div>
	</div>
	
	<div class="p-field p-grid">
	    <label for="phoneNum" class="p-col-fixed" style="width:160px">Phone Number</label>
	    <div class="p-col">
	        <input id="phoneNum" type="text" [(ngModel)]="userVo.phoneNum" pInputText required/>
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="calendly" class="p-col-fixed" style="width:160px">Calendly</label>
	    <div class="p-col">
	        <input id="calendly" type="text" [(ngModel)]="userVo.calendly" pInputText required/>
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="wechatId" class="p-col-fixed" style="width:160px">WeChat ID</label>
	    <div class="p-col">
	        <input id="wechatId" type="text" [(ngModel)]="userVo.wechatId" pInputText required/>
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="website" class="p-col-fixed" style="width:160px">Web Site</label>
	    <div class="p-col">
	        <input id="website" type="text" [(ngModel)]="userVo.website" pInputText required/>
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="phoneNum" class="p-col-fixed" style="width:160px">Description</label>
	    <div>
			<p-editor  [(ngModel)]="userVo.description" ></p-editor>
			
			<div [innerHTML]="userVo.description"></div>
	    </div>
	</div>

	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="doChangeProfile()">Change Profile</button>
	</div>
</p-fieldset>


<p-fieldset legend="Change Password" [toggleable]="true">

	<div class="p-field p-grid">
	    <label for="password" class="p-col-fixed" style="width:160px">Old Password</label>
	    <div class="p-col">
	        <input id="password" type="password" [(ngModel)]="oldPassword"  pInputText required/> 
	    </div>
	</div>
	
	<div class="p-field p-grid">
	    <label for="password" class="p-col-fixed" style="width:160px">New Password</label>
	    <div class="p-col">
	        <input id="password" type="password" [(ngModel)]="newPassword"  pInputText required /> 
	    </div>
	</div>
	
	<div class="p-field p-grid">
	    <label for="passwordConfirm" class="p-col-fixed" style="width:160px">Password Confirm</label>
	    <div class="p-col">
	        <input id="passwordConfirm" type="password" [(ngModel)]="passwordConfirm" pInputText required/>
	    </div>
	</div>
	
	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="doChangePassword()">Change Password</button>
	</div>

</p-fieldset>