<p>Please fill following information to Sign Up To I 2 Invest</p>

<div class="p-field p-grid">
    <label for="email" class="p-col-fixed" style="width:140px">Email</label>
    <div class="p-col">
        <input id="email" type="text" [(ngModel)]="userVo.email" pInputText required/> 
    </div>
</div>

<div class="p-field p-grid">
    <label for="password" class="p-col-fixed" style="width:140px">Password</label>
    <div class="p-col">
        <input id="password" type="password" [(ngModel)]="userVo.password"  pInputText required/> 
    </div>
</div>

<div class="p-field p-grid">
    <label for="passwordConfirm" class="p-col-fixed" style="width:140px">Password Confirm</label>
    <div class="p-col">
        <input id="passwordConfirm" type="password" [(ngModel)]="passwordConfirm" pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="firstName" class="p-col-fixed" style="width:140px">First Name</label>
    <div class="p-col">
       <input id="firstName" type="text" [(ngModel)]="userVo.firstName"  pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="lastName" class="p-col-fixed" style="width:140px">Last Name</label>
    <div class="p-col">
        <input id="lastName" type="text" [(ngModel)]="userVo.lastName" pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="calendly" class="p-col-fixed" style="width:140px">Calendly</label>
    <div class="p-col">
        <input id="calendly" type="text" [(ngModel)]="userVo.calendly" pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="wechatId" class="p-col-fixed" style="width:140px">WeChat ID</label>
    <div class="p-col">
        <input id="wechatId" type="text" [(ngModel)]="userVo.wechatId" pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="website" class="p-col-fixed" style="width:140px">Web Site</label>
    <div class="p-col">
        <input id="website" type="text" [(ngModel)]="userVo.website" pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="phoneNum" class="p-col-fixed" style="width:140px">Phone Number</label>
    <div class="p-col">
        <input id="phoneNum" type="text" [(ngModel)]="userVo.phoneNum" pInputText required/>
    </div>
</div>

<div class="p-field p-grid">
    <label for="description" class="p-col-fixed" style="width:140px">Description</label>
    <div class="p-col">
        <input id="description" type="text" [(ngModel)]="userVo.description" pInputText required/>
        <div [innerHTML]="userVo.description"></div>
    </div>
</div>

<div class="p-field p-grid">
    &nbsp;&nbsp;&nbsp;<button name="signUpBtn" class="btn btn-primary" (click)="doSignUp()">Sign Up</button>
</div>



<br/><br/>

I already have credentials, Click <a [routerLink]="['/signin']"> here </a> to Sign In.





