<p>Start A new Club</p>

<p-fieldset legend="Start a new Club" [toggleable]="true">
	<div class="p-field p-grid">
	    <label for="clubName" class="p-col-fixed" style="width:160px">Club Name</label>
	    <div class="p-col">
	        <input id="clubName" type="text" [(ngModel)]="clubVo.name" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="description" class="p-col-fixed" style="width:160px">Description</label>
	    <div class="p-col">
	        <input id="description" type="text" [(ngModel)]="clubVo.description" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="startClub()">Start</button>
	</div>
</p-fieldset>


