<p>Update Club</p>

<p-fieldset legend="Update Club" [toggleable]="true">
	<div class="p-field p-grid">
	    <label for="clubName" class="p-col-fixed" style="width:160px">Club Name</label>
	    <div class="p-col">
	        <input id="clubName" type="text" [(ngModel)]="clubVo.name" pInputText required/> 
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="publicVisible" class="p-col-fixed" style="width:160px">Public Visible</label>
	    <div class="p-col">
			<p-inputSwitch id='publicVisible' name='publicVisible' [(ngModel)]="clubVo.publicVisible" class="col-sm-6 divPadding10" ></p-inputSwitch>
	    </div>
	</div>

	<div class="p-field p-grid">
	    <label for="description" class="p-col-fixed" style="width:160px">Description</label>
	    <div class="p-col">
				<textarea  [(ngModel)]="clubVo.description" cols="100" rows="20"></textarea>
	    </div>
	</div>


	<div class="p-field p-grid">
	    <button name="signUpBtn" class="btn btn-primary" (click)="updateClub()">Update Club</button>
	    <button name="startProjectBtn" class="btn btn-primary" (click)="startProject()">Start a Project</button>
	    <button name="joinClubBtn" class="btn btn-primary" (click)="joinClub()">Join the club</button>
	    <button name="showProjectsBtn" class="btn btn-primary" (click)="showProjects()">Projects</button>
	</div>
</p-fieldset>

<app-project-list></app-project-list>


