<div>
	<div fxLayout="column" fxLayoutAlign="space-between stretch">

		<div></div>

		<a [routerLink]="['/signin']"> 
			Login
		</a>

		<a [routerLink]="['/signup']"> 
			Sign Up
		</a>

		<a [routerLink]="['/forgotpassword']"> 
			Forgot Password
		</a>

		<div></div>

		<a [routerLink]="['/member/memberhome']"> 
			Search User
		</a>


		<a [routerLink]="['/member/profileupdate']"> 
			Change Profile
		</a>

		<a [routerLink]="['/member/clublist']"> 
			Club List
		</a>

		<a [routerLink]="['/member/clubcreate']"> 
			Club Create
		</a>

		<a [routerLink]="['/member/clubupdate']"> 
			Club Update
		</a>

		<a [routerLink]="['/member/clubuserlist']"> 
			Club Users
		</a>

		<a [routerLink]="['/member/projectlist']"> 
			Project List
		</a>

		<a [routerLink]="['/member/projectcreate']"> 
			Project Create
		</a>

		<a [routerLink]="['/member/projectupdate']"> 
			Project Update
		</a>

		<a [routerLink]="['/member/propertylist']"> 
			Property List
		</a>

		<a [routerLink]="['/member/propertycreate']"> 
			Property Create
		</a>

		<a [routerLink]="['/member/propertyupdate']"> 
			Property Update
		</a>

		<a [routerLink]="['/fileupload']"> 
			File Upload
		</a>

		<a [routerLink]="['/test']"> 
			Test
		</a>


	</div>	
</div>
