<div>
	<div fxLayout="column" fxLayoutAlign="space-between stretch">

		<div></div>

		<a [routerLink]="['/signin']"> 
			Login
		</a>

		<a [routerLink]="['/signup']"> 
			Sign Up
		</a>

		<div>Forgot Password</div>

		<a [routerLink]="['/member/memberhome']"> 
			Search User
		</a>


		<a [routerLink]="['/member/changeprofile']"> 
			Change Profile
		</a>

		<a [routerLink]="['/member/startclub']"> 
			Start A Club
		</a>

		<a [routerLink]="['/member/myclubs']"> 
			My Clubs
		</a>
		
		<a [routerLink]="['/member/updateclub']"> 
			Update My Club
		</a>

		<a [routerLink]="['/fileupload']"> 
			File Upload
		</a>

	</div>	
</div>
