<div>
	<div fxLayout="column" fxLayoutAlign="space-between stretch">

		<div></div>

		<a [routerLink]="['/signin']"> 
			Login
		</a>

		<a [routerLink]="['/signup']"> 
			Sign Up
		</a>

		<a [routerLink]="['/forgotpassword']"> 
			Forgot Password
		</a>

		<div></div>

		<a [routerLink]="['/member/memberhome']"> 
			Search User
		</a>


		<a [routerLink]="['/member/profileupdate']"> 
			Change Profile
		</a>

		<a [routerLink]="['/member/clubcreate']"> 
			Start A Club
		</a>

		<a [routerLink]="['/member/clublist']"> 
			My Clubs
		</a>

		<a [routerLink]="['/member/clubapplications']"> 
			Club Applications
		</a>

		<a [routerLink]="['/member/clubupdate']"> 
			Update My Club
		</a>

		<a [routerLink]="['/member/projectcreate']"> 
			Start Project
		</a>

		<a [routerLink]="['/member/projectlist']"> 
			My Projects
		</a>

		<a [routerLink]="['/member/projectupdate']"> 
			Edit Projects
		</a>

		<a [routerLink]="['/member/propertylist']"> 
			My Properties
		</a>

		<a [routerLink]="['/fileupload']"> 
			File Upload
		</a>

		<a [routerLink]="['/test']"> 
			Test
		</a>


	</div>	
</div>
